---
import LandingHeader from '../components/LandingHeader.astro'
import ModelYSection from '../components/ModelYSection.astro'
import ChargeSection from '../components/ChargeSection.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Tesla landing - Astro, HTML, Tailwind</title>
  </head>

  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-screen h-screen overflow-auto overflow-x-hidden">
    <div class="snap-center">
      <ModelYSection />
    </div>
    <div class="snap-center">
      <ChargeSection/>
    </div>

  </main>

</html>
