<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30 relative py-2">
      <h1 class="text-black pr-10 text-5xl font-medium py-2
      mt-[120px]">Accesorios</h1>
    </header>

    <footer class="z-30 relative flex flex-grow flex-col justify-end pb-3">
      <div class="py-10">
        <a
          class="border-slate-600 border-2 rounded font-medium text-white inline-block px-10 py-1 mx-4 bg-slate-600 transition-all ease-in-out hover:scale-105"
          href="#">
          Pedido personalizado</a
        >
        <a
          class="border-white border-2 rounded font-medium inline-block px-10 py-1 mx-4 bg-white transition-all ease-in-out hover:scale-105"
          href="#"
          >Prueba de conducción</a
        >
      </div>

      <p>
        <a
          class="text-decoration border-b border-black pb-0.1 text-sm hover:cursor-pointer hover:border-b-2 transition-all ease-in-out"
          href="#"
          >Disponible con Moves III</a
        >
      </p>
    </footer>

    <div class="absolute top-0 bottom-0 left-0 right-0 z-10">
      <img
        src="/public/images/Cargador.avif"
        alt="Accesorios"
        class="w-screen h-full object-cover object-center"
      />
    </div>
  </div>
</section>
